$color-0-primary: rgb(5, 4, 4);
$color-0-secondary: rgb(7, 52, 51);
$color-0-third: rgb(23, 5, 23);
$color-1-primary: rgb(13, 11, 12);
$color-1-secondary: rgb(11, 87, 85);
$color-1-third: rgb(38, 9, 38);
$color-2-primary: rgb(21, 19, 20);
$color-2-secondary: rgb(15, 121, 119);
$color-2-third: rgb(53, 12, 53);
$color-3-primary: rgb(30, 26, 27);
$color-3-secondary: rgb(19, 156, 154);
$color-3-third: rgb(68, 15, 68);
$color-4-primary: rgb(38, 33, 35);
$color-4-secondary: rgb(23, 190, 187);
$color-4-third: rgb(83, 18, 83);
$color-5-primary: rgb(46, 40, 42);
$color-5-secondary: rgb(65, 201, 199);
$color-5-third: rgb(114, 61, 114);
$color-6-primary: rgb(84, 79, 80);
$color-6-secondary: rgb( 86, 207, 205);
$color-6-third: rgb(129, 82, 129);
$color-7-primary: rgb(84, 79, 80);
$color-7-secondary: rgb(  232, 203, 0);
$color-7-third: rgb(129, 82, 129);

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p,h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 654px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.color-0 {
    color: $color-0-primary;
    border: 3px solid $color-0-secondary;
}

.color-1 {
    color: $color-1-primary;
    border: 3px solid $color-1-secondary;
}

.color-2 {
    color: $color-2-primary;
    border: 3px solid $color-2-secondary;
}

.color-3 {
    color: $color-3-primary;
    border: 3px solid $color-3-secondary;
}

.color-4 {
    color: $color-4-primary;
    border: 3px solid $color-4-secondary;
}

.color-5 {
    color: $color-5-primary;
    border: 3px solid $color-5-secondary;
}

.color-6 {
  color: $color-6-primary;
  border: 3px solid $color-6-secondary;
}
.color-7 {
  color: $color-7-primary;
  border: 3px solid $color-7-secondary;
}