.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  width: 654px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15); }

.color-0 {
  color: #050404;
  border: 3px solid #073433; }

.color-1 {
  color: #0d0b0c;
  border: 3px solid #0b5755; }

.color-2 {
  color: #151314;
  border: 3px solid #0f7977; }

.color-3 {
  color: #1e1a1b;
  border: 3px solid #139c9a; }

.color-4 {
  color: #262123;
  border: 3px solid #17bebb; }

.color-5 {
  color: #2e282a;
  border: 3px solid #41c9c7; }

.color-6 {
  color: #544f50;
  border: 3px solid #56cfcd; }