// $color-0-primary: rgb(5, 4, 4);
// $color-0-secondary: rgb(7, 52, 51);
// $color-0-third: rgb(23, 5, 23);
// $color-1-primary: rgb(13, 11, 12);
// $color-1-secondary: rgb(11, 87, 85);
// $color-1-third: rgb(38, 9, 38);
// $color-2-primary: rgb(21, 19, 20);
// $color-2-secondary: rgb(15, 121, 119);
// $color-2-third: rgb(53, 12, 53);
// $color-3-primary: rgb(30, 26, 27);
// $color-3-secondary: rgb(19, 156, 154);
// $color-3-third: rgb(68, 15, 68);
// $color-4-primary: rgb(38, 33, 35);
// $color-4-secondary: rgb(23, 190, 187);
// $color-4-third: rgb(83, 18, 83);
// $color-5-primary: rgb(46, 40, 42);
// $color-5-secondary: rgb(65, 201, 199);
// $color-5-third: rgb(114, 61, 114);
// $color-6-primary: rgb(84, 79, 80);
// $color-6-secondary: rgb( 86, 207, 205);
// $color-6-third: rgb(129, 82, 129);
// $color-7-primary: rgb(84, 79, 80);
// $color-7-secondary: rgb(  232, 203, 0);
// $color-7-third: rgb(129, 82, 129);

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  font-family: "Raleway", sans-serif;
}
$light: rgb(247, 237, 92);
$dark: rgb(34, 34, 34);
$grey: rgb(241, 242, 242);

@import "./blobs.scss";
.page {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; //overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1000px;
  position: relative;
}
.card {
  background-color: $grey;
  color: $dark;
  margin: 100px auto;
  width: 100%;
  max-height: 80%;
  text-align: center;
  .title {
    font-size: 50px;
    @media (min-width: 680px){
      font-size: 100px;
    }
    text-transform: uppercase;
    transform: translateY(-50%);
    color: $light;
    font-weight: 700;
    transition: translateY 0s linear .5s;
  }
  .text-in{    
    animation: text-in .5s ease ;
  }
  .text-out{
    animation: text-out .5s ease ;
  }
  .sub {
    font-size: 25px;
    @media (min-width: 680px){
      font-size: 40px;
    }
    padding: 0px 24%;
    transform: translateY(-50%);
  }
  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding:40px 0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height:400px;
    @media (min-width: 680px){
      flex-direction: row;
      padding:0;
      width: 100%;    
      height: 270px; 
      justify-content: space-evenly;
    }
    
    
    
    .a-wrapper {
      position: relative;
      width: 50%;
      height: 34%;
      @media (min-width: 680px){
        height: 50%;
        width: 30%;
      }
    }
    a {

      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100%;
      height: 100%;
      border: 3px solid $dark;
      background-color: $grey;
      .text {
        font-size: 14px;
        @media (min-width: 680px){
          font-size: 24px;
        }
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .line {
        position: absolute;
        left: 0;
        background-color: $light;
        height: 25%;
        transition: height 0.5s;
        width: 4px;

        animation: line-out 1s ease;
      }
      .hover {
        height: 100%;
        position: absolute;
        left: 0;
        right: 100%;
        //transition: right 0.5s 0.5s;
        animation: hover-out 0.3s ease;
        transition: left 0s linear 0.5s, right 0s linear 0.5s;
        background-color: $light;
      }
    }
    a:hover {
      .line {
        animation: line-in 1s ease;
      }
      .hover {
        right: 0;
        animation: hover-in 0.3s ease 0.5s;
        transition: right 0s linear 0.5s;
      }
    }
  }
}


@keyframes text-in {    
  0% {
    transform: translate3d(0, 0, 0);      
    opacity: 0;
  }   
  100% {
    transform: translate3d(0, -50%, 0);
    opacity: 1;
  }
}
@keyframes text-out {    
  0% {
    transform: translate3d(0, -50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);      
    opacity: 0;
  }   
  
}

@keyframes line-out {
  0% {
    height: 0px;
  }
  50% {
    height: 0px;
  }
  100% {
    height: 25%;
  }
}
@keyframes line-in {
  0% {
    height: 25%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes hover-in {
  from {
    left: 0;
    right: 100%;
  }
  to {
    left: 0;
    right: 0;
  }
}
@keyframes hover-out {
  from {
    left: 0;
    right: 0;
  }
  to {
    left: 100%;
    right: 0;
  }
}
