@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  font-family: "Raleway", sans-serif; }

#svg-1 {
  top: 549px;
  left: 73px; }

#svg-2 {
  top: 284px;
  left: 610px; }

#svg-3 {
  top: 486px;
  left: 286px; }

.svg-circle {
  position: absolute;
  z-index: -11;
  fill: #f7ed5c; }

@keyframes from0to360 {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
@keyframes from360to0 {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.circle1 {
  animation: from0to360 1s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 145px 150px; }

.circle2 {
  animation: from360to0 2s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 155px 150px; }

.circle3 {
  animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 150px 145px; }

.circle4 {
  animation: from360to0 2.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  transform-origin: 150px 155px; }

.page {
  display: flex;
  width: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.container {
  width: 100%;
  max-width: 1000px;
  position: relative; }

.card {
  background-color: #f1f2f2;
  color: #222222;
  margin: 100px auto;
  width: 100%;
  text-align: center; }
  .card .title {
    font-size: 100px;
    text-transform: uppercase;
    transform: translateY(-50%);
    color: #f7ed5c;
    font-weight: 700;
    transition: translateY 0s linear .5s;
    animation: title-in 0.5s ease; }
  .card .title-out {
    font-size: 100px;
    text-transform: uppercase;
    transform: translateY(-50%);
    color: #f7ed5c;
    font-weight: 700;
    transition: translateY 0s linear .5s;
    animation: title-out 0.5s ease; }
  .card .sub {
    font-size: 40px;
    padding: 2px 24%; }
  .card .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 80px 0; }
    .card .row .a-wrapper {
      position: relative; }
    .card .row a {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 230px;
      height: 120px;
      border: 3px solid #222222;
      background-color: #f1f2f2; }
      .card .row a .text {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .card .row a .line {
        position: absolute;
        left: 0;
        background-color: #f7ed5c;
        height: 30px;
        transition: height 0.5s;
        width: 4px;
        animation: line-out 1s ease; }
      .card .row a .hover {
        height: 126px;
        position: absolute;
        left: 0;
        right: 100%;
        animation: hover-out 0.3s ease;
        transition: left 0s linear 0.5s, right 0s linear 0.5s;
        background-color: #f7ed5c; }
    .card .row a:hover .line {
      animation: line-in 1s ease; }
    .card .row a:hover .hover {
      right: 0;
      animation: hover-in 0.3s ease 0.5s;
      transition: right 0s linear 0.5s; }

@keyframes title-in {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, -50%, 0);
    opacity: 1; } }
@keyframes title-out {
  0% {
    transform: translate3d(0, -50%, 0);
    opacity: 1; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0; } }
@keyframes line-out {
  0% {
    height: 0px; }
  50% {
    height: 0px; }
  100% {
    height: 30px; } }
@keyframes line-in {
  0% {
    height: 30px; }
  50% {
    height: 126px; }
  100% {
    height: 0; } }
@keyframes hover-in {
  from {
    left: 0;
    right: 100%; }
  to {
    left: 0;
    right: 0; } }
@keyframes hover-out {
  from {
    left: 0;
    right: 0; }
  to {
    left: 100%;
    right: 0; } }

/*# sourceMappingURL=styles.css.map */
